/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 450;
  letter-spacing: -0.3px;
  transition: background-color 0.2s ease, border 0.2s ease, filter 0.2s ease;
  -webkit-transition: background-color 0.2s ease, border 0.2s ease, -webkit-filter 0.2s ease;
}

@media (max-width: 768px) {
  * {
    font-size: 17px;
    transition: background-color 0.1s ease, border 0.1s ease;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 18px;
  }
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

#light .container {
  color: rgb(18, 18, 18);
  background-color: #f3f3f3;
}

#dark .container {
  color: rgb(167, 167, 167);
  background-color: #1f1f1f;
}

@media (max-width: 770px) {
  .flex-container {
    display: grid;
    place-items: center;
  }

  .flex-box {
    margin: 15px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 30px;
    z-index: 9999;
    margin-inline: calc((100vw - 50vw - 75px) / 2);
    margin-bottom: 100px;
  }

  #light .navbar {
    display: grid;
    place-items: center;
    height: 60px;
    width: 50vw;
    border-radius: 100px;
  
    background-color: white;
    box-shadow: rgba(116, 116, 116, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(224, 224, 224);
  }

  #dark .navbar {
    display: grid;
    place-items: center;
    height: 60px;
    width: 50vw;
    border-radius: 100px;
  
    background-color: rgb(50, 50, 50);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(54, 54, 54);
  }

  #light .circle {
    display: grid;
    place-items: center;
    height: 60px;
    width: 60px;
    border-radius: 100px;

    background-color: white;
    box-shadow: rgba(116, 116, 116, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(224, 224, 224);

    cursor: pointer;
  }

  #dark .circle {
    display: grid;
    place-items: center;
    height: 60px;
    width: 60px;
    border-radius: 100px;

    background-color: rgb(50, 50, 50);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(54, 54, 54);
  }
  
  .circle > h2,
  .navbar > h2 {
    font-size: 19px;
  }

  #light .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    background-color: white;
    margin-top: 75px;
  }

  #dark .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    background-color: black;
    margin-top: 75px;
  }

  #light .footer > h2 {
    padding: 15px;
    font-weight: normal;
    color: grey;
    background-color: white;
  }

  #dark .footer > h2 {
    padding: 15px;
    font-weight: normal;
    color: rgb(80, 80, 80);
    background-color: black;
  }

  #light .modal {
    margin-top: 110px;
    margin-inline: 15px;
    width: calc(100vw - 30px);
    z-index: 9999999;

    background-color: white;
    box-shadow: rgba(116, 116, 116, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(224, 224, 224);
    position: fixed;

    border-radius: 25px;
  }
  
  #dark .modal {
    margin-top: 110px;
    margin-inline: 15px;
    width: calc(100vw - 30px);
    z-index: 9999999;
    
    background-color: rgb(50, 50, 50);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(54, 54, 54);
    position: fixed;

    border-radius: 25px;
  }

  .modal > h1 {
    margin: 20px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .modal > h2 {
    margin: 20px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -0.3px;
  }

  #light .modal > hr {
    margin-inline: 20px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(215, 215, 215);
  }

  #dark .modal > hr {
    margin-inline: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(66, 66, 66);
  }
}

@media (min-width: 770px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    gap: 25px;
  }
  
  .flex-box {
    flex: 0 1 calc((100vw - 100px) / 3);
  }

  .header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 40px;
    z-index: 9999;
    margin-inline: calc((100vw - 30vw - 105px) / 2);
    margin-bottom: 150px;
  }

  #light .navbar {
    display: grid;
    place-items: center;
    height: 80px;
    width: 30vw;
    border-radius: 100px;
  
    background-color: white;
    box-shadow: rgba(116, 116, 116, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(224, 224, 224);
  }

  #dark .navbar {
    display: grid;
    place-items: center;
    height: 80px;
    width: 30vw;
    border-radius: 100px;
  
    background-color: rgb(50, 50, 50);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(54, 54, 54);
  }

  #light .circle {
    display: grid;
    place-items: center;
    height: 80px;
    width: 80px;
    border-radius: 100px;

    background-color: white;
    box-shadow: rgba(116, 116, 116, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(224, 224, 224);

    cursor: pointer;
  }

  #dark .circle {
    display: grid;
    place-items: center;
    height: 80px;
    width: 80px;
    border-radius: 100px;

    background-color: rgb(50, 50, 50);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(54, 54, 54);

    cursor: pointer;
  }
  
  .circle > h2,
  .navbar > h2 {
    font-size: 22px;
  }

  #light .footer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 150px;
    margin-top: 100px;
    background-color: white;
  }

  #dark .footer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 150px;
    margin-top: 100px;
    background-color: black;
  }

  #light .footer > h2 {
    padding: 25px;
    font-weight: normal;
    color: grey;
    background-color: white;
  }

  #dark .footer > h2 {
    padding: 25px;
    font-weight: normal;
    color: rgb(80, 80, 80);
    background-color: black;
  }

  #light .modal {
    margin-top: 140px;
    margin-inline: 25vw;
    width: 50vw;
    z-index: 9999999;
    
    background-color: white;
    box-shadow: rgba(116, 116, 116, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(224, 224, 224);
    position: fixed;

    border-radius: 25px;
  }

  #dark .modal {
    margin-top: 140px;
    margin-inline: 25vw;
    width: 50vw;
    z-index: 9999999;

    background-color: rgb(50, 50, 50);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgb(54, 54, 54);
    position: fixed;

    border-radius: 25px;
  }

  .modal > h1 {
    margin: 25px;
    margin-bottom: 0px;
    font-size: 22px;
  }

  .modal > h2 {
    margin: 25px;
    font-size: 19px;
    font-weight: normal;
    letter-spacing: 0px;
  }

  #light .modal > hr {
    margin-inline: 25px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(215, 215, 215);
  }

  #dark .modal > hr {
    margin-inline: 25px;
    margin-bottom: 10px;
    border: 1px solid rgb(66, 66, 66);
  }
}

.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.site-header-date {
  color: grey;
  font-weight: 400;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 0px;
}

.modal > h2 > a {
  text-decoration: underline !important;
}

a:hover {
  color: grey;
}

#light img {
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(224, 224, 224);
  aspect-ratio: 16 / 10;
}

#dark img {
  border: 1px solid rgb(22, 22, 22);
  background-color: rgb(0, 0, 0);
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  aspect-ratio: 16 / 10;
}